interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_CN","time":1768063380,"version":"1.0.0"},"sign":"ec38dd08a4787c3e9a5745d9051b53a2"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768063382843'
      req-cost-time:
      - '4'
      resp-start-time:
      - '1768063382847'
      tid:
      - 35da7b3529a569e15e79a653bbd8ffb4
    status:
      code: 200
      message: OK
version: 1
