interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_KR","time":1768062652,"version":"1.0.0"},"sign":"384a8b46fecd3b04718105f407efa31c"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":null,"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062654902'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062654905'
      tid:
      - c28b2100d74b1362ce0c071187554763
    status:
      code: 200
      message: OK
version: 1
