interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_CN","time":1768062582,"version":"1.0.0"},"sign":"ff3e93eab98fe0166bee4890991022e5"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":{"launcher_background_img":"","launcher_background_img_crc64":"","config_open":false,"user_agreement":"","privacy_policy":"","copyright_information":"","notice_pop_open":false,"notice_content":"","exit_launcher_open":false},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062587163'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062587165'
      tid:
      - 74360581958e5218255538fdbe4ebc23
    status:
      code: 200
      message: OK
version: 1
