interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_JP","time":1768062625,"version":"1.0.0"},"sign":"af897e3bb4ff33e1ccb30342dad2fb9b"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":null,"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062628852'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062628855'
      tid:
      - ed4b5034bb7e0b908c33eed2e625d928
    status:
      code: 200
      message: OK
version: 1
