interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_KR","time":1768062647,"version":"1.0.0"},"sign":"62ff0f2f4230b79ddf120a9995d64441"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/operations/resource
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062652342'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062652345'
      tid:
      - 2b65847d4e61c143df878d9ff796624e
    status:
      code: 200
      message: OK
version: 1
