interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_JP","time":1768062629,"version":"1.0.0"},"sign":"3a38a058dbb512772ed5c95e0323b9a6"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062631571'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062631573'
      tid:
      - 80ccf537883d593878916b694f2b6ee7
    status:
      code: 200
      message: OK
version: 1
