interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_CN","time":1768062783,"version":"1.0.0"},"sign":"b74e0ea487232632cba7ea0b282e6c5a"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":null,"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062787166'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062787169'
      tid:
      - d10a80e50f8fcbc8b15ddfc594c460d3
    status:
      code: 200
      message: OK
version: 1
