interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_KR","time":1768062803,"version":"1.0.0"},"sign":"31d6c353968f9839179607c640764595"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062806197'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062806200'
      tid:
      - 3cee9fa4f326bc312c31059f4ebdbd2a
    status:
      code: 200
      message: OK
version: 1
