interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_CN","time":1768062577,"version":"1.0.0"},"sign":"3da33e082903a483f7be9b1f8e4c1308"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/operations/resource
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062582514'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062582517'
      tid:
      - fc408aae214f4e6fb0b0f9cdb070c148
    status:
      code: 200
      message: OK
version: 1
