interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_CN","time":1768063370,"version":"1.0.0"},"sign":"b85f650d2c972ee20788b1dfc1689010"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768063375920'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768063375924'
      tid:
      - af5e773c5a65d7ea3bfeed35ff12b593
    status:
      code: 200
      message: OK
version: 1
