interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_JP","time":1768062618,"version":"1.0.0"},"sign":"dcd590b2f1ae120cc36c9b8044755dbb"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/operations/resource
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062624767'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062624770'
      tid:
      - 43c36c93b6c4cb822982e7740691108e
    status:
      code: 200
      message: OK
version: 1
