interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_JP","time":1768062795,"version":"1.0.0"},"sign":"3c3ba89b1a71b4e71c861bad69537bbb"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062799592'
      req-cost-time:
      - '4'
      resp-start-time:
      - '1768062799596'
      tid:
      - 5a34036593500363950e80fbce63dc0a
    status:
      code: 200
      message: OK
version: 1
