interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_KR","time":1768062661,"version":"1.0.0"},"sign":"4acb9fa24b2512e3e17f4f1cf2283c1b"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":null,"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062663455'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062663458'
      tid:
      - 517ee2d2db99bb66f13b9a1177f6f455
    status:
      code: 200
      message: OK
version: 1
