interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_CN","time":1768062693,"version":"1.0.0"},"sign":"522ab1d9d12f995ea950f775d6751189"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062700532'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062700535'
      tid:
      - 4fdc5fcd24e2ce434b24f42179e738ea
    status:
      code: 200
      message: OK
version: 1
