interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_CN","time":1768062777,"version":"1.0.0"},"sign":"4e56e36b4c98c419cf09d25bb664cf9b"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062783444'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062783447'
      tid:
      - c10f9b646a208afb5b177b25b186272a
    status:
      code: 200
      message: OK
version: 1
