interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_CN","time":1768062700,"version":"1.0.0"},"sign":"2de64509e5827abeaabba1f550d701e5"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":null,"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062707347'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062707349'
      tid:
      - 887f7931ffad1222ff6001ea31da61c0
    status:
      code: 200
      message: OK
version: 1
