interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_JP","time":1768062631,"version":"1.0.0"},"sign":"f7a31327c8c6398022adeaf4ea0d8a9d"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":null,"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062634231'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062634234'
      tid:
      - c47d348b16a5068f0aa7dfd547ce0f5c
    status:
      code: 200
      message: OK
version: 1
