interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_KR","time":1768062665,"version":"1.0.0"},"sign":"940e9e00b277df864763619a42dde999"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062670898'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768062670902'
      tid:
      - 9f52c461458d08e487d626daeefc0483
    status:
      code: 200
      message: OK
version: 1
