interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_CN","time":1768063382,"version":"1.0.0"},"sign":"bb3f497085a7443e3af2343ef2db48a8"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/operations/resource
  response:
    body:
      string: '{"code":200,"data":{},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768063385085'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768063385088'
      tid:
      - eb204d739b15987d90e14a601738c260
    status:
      code: 200
      message: OK
version: 1
