interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_CN","time":1768062812,"version":"1.0.0"},"sign":"8d46e2ddc804fa14c63ab908e8c78c54"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":{"launcher_background_img":"","launcher_background_img_crc64":"","config_open":false,"user_agreement":"","privacy_policy":"","copyright_information":"","notice_pop_open":false,"notice_content":"","exit_launcher_open":false},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768062818093'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768062818095'
      tid:
      - c15c245d3c7deb2b9588ee8686e9413a
    status:
      code: 200
      message: OK
version: 1
