interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_EN","time":1768047859,"version":"1.0.0"},"sign":"9c523948349066d16e3c2d14df5b7e01"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-ss-en-bk.yo-star.com","primary_cdn":"https://launcher-pkg-ss-en.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047860361'
      req-cost-time:
      - '1'
      resp-start-time:
      - '1768047860362'
      tid:
      - f3f83726df36883757aaaf641fbfc714
    status:
      code: 200
      message: OK
version: 1
