interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_EN","time":1768047857,"version":"1.0.0"},"sign":"55b084387c732285a211d44a2ec9760c"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/operations/resource
  response:
    body:
      string: "{\"code\":200,\"data\":{\"banner_loop\":true,\"news_list\":null,\"notice_list\":null,\"operations_banner_list\":[{\"banner_img\":\"https://launcher-pkg-ss-en.yo-star.com/prod/StellaSora_EN/banner/aa9deaedb0f256df8e08f93ed205253a.png\",\"jump_url\":\"https://stellasora.global/news/2324\",\"remark\":\"version
        1.5 preview\",\"start_at\":1767952800,\"end_at\":1768294800},{\"banner_img\":\"https://launcher-pkg-ss-en.yo-star.com/prod/StellaSora_EN/banner/fcae0c502edbdf049e9911a8f7e50d6a.png\",\"jump_url\":\"https://stellasora.global/news/2303\",\"remark\":\"\u603B\u529B\u6218\",\"start_at\":1767513600,\"end_at\":1768247999},{\"banner_img\":\"https://launcher-pkg-ss-en.yo-star.com/prod/StellaSora_EN/banner/f6ab946acdc747ec03fd08692126e160.png\",\"jump_url\":\"https://stellasora.global/news/2218\",\"remark\":\"snowish
        laru preview\",\"start_at\":[...]
