interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_EN","time":1768047860,"version":"1.0.0"},"sign":"b050132ae187479048a41a6b17d87d10"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":{"game_lowest_version":"1.4.0","game_latest_version":"1.4.0","game_latest_file_path":"prod/ZIP_TEMP/StellaSora_EN_TEMP/StellaSora_EN-1.4.0-game.zip","game_start_exe_name":"StellaSora","game_file_size":"","game_file_size_type":"","crc64":"","size":0,"file_url":"","decompression_size":"15.1GB","config_id":0,"game_start_params":[]},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047861116'
      req-cost-time:
      - '0'
      resp-start-time:
      - '1768047861116'
      tid:
      - a5c3e69a39d116c79ce86999c00c75c3
    status:
      code: 200
      message: OK
version: 1
