interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_EN","time":1768047919,"version":"1.0.0"},"sign":"ad9151b303c4dcb67c983ab2f8c2cbf5"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047919813'
      req-cost-time:
      - '1'
      resp-start-time:
      - '1768047919814'
      tid:
      - 5a33b7ffbfdc88e8eea696d3193d453d
    status:
      code: 200
      message: OK
version: 1
