interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_JP","time":1768048063,"version":"1.0.0"},"sign":"3adbfad04a18be46442ebd861c39c540"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048063578'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768048063580'
      tid:
      - 2fd29a39a36f8e9bb88511a927a8cf45
    status:
      code: 200
      message: OK
version: 1
