interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_CN","time":1768048353,"version":"1.0.0"},"sign":"7bc19efa858d579dd05a63a00072d9e5"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048357159'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768048357161'
      tid:
      - 7e404bfead619a0e3706ad5cb9674918
    status:
      code: 200
      message: OK
version: 1
