interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_JP","time":1768048057,"version":"1.0.0"},"sign":"b4acc8736fc74ec132fe53c7bb3b3cd4"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-ss-jp-bk.yo-star.com","primary_cdn":"https://launcher-pkg-ss-jp.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048058643'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768048058645'
      tid:
      - 5f6ff92b3c632942e723296d737b97b5
    status:
      code: 200
      message: OK
version: 1
