interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_JP","time":1768048051,"version":"1.0.0"},"sign":"5e4b35f5854d156009750d54270bac4d"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/operations/resource
  response:
    body:
      string: "{\"code\":200,\"data\":{\"banner_loop\":true,\"news_list\":{\"code\":0,\"data\":{\"news\":[{\"rows\":[{\"description\":\"
        \    \\n  \u300E\u30B9\u30C6\u30E9\u30BD\u30E9\u300F\u3092\u30D7\u30EC\u30A4\u3044\u305F\u3060\u304D\u3001\u8AA0\u306B\u3042\u308A\u304C\u3068\u3046\u3054\u3056\u3044\u307E\u3059\u3002
        \ \\n   2026\u5E741\u67086\u65E5(\u706B)12:00 \u3088\u308A\u3001\u30E1\u30F3\u30C6\u30CA\u30F3\u30B9\u3092\u5B9F\u65BD\u3044\u305F\u3057\u307E\u3059\u3002
        \ \\n   \\u0026nbsp;   \\n  \u25A0\u5B9F\u65BD\u6642\u9593  \\n  2026\u5E741\u67086\u65E5(\u706B)12:00\uFF5E18:00\uFF08\u4E88\u5B9A\u[...]
