interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_CN","time":1768048350,"version":"1.0.0"},"sign":"b14cd3a822ec8d5beb26c1e948836a23"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":{"game_lowest_version":"1.4.0","game_latest_version":"1.4.0","game_latest_file_path":"prod/ZIP_TEMP/StellaSora_CN_TEMP/StellaSora_CN-1.4.0-game.zip","game_start_exe_name":"xtlr","game_file_size":"","game_file_size_type":"","crc64":"","size":0,"file_url":"","decompression_size":"16GB","config_id":0},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048353477'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768048353481'
      tid:
      - e95d0582b34baffd4ee9f6a7c63b05a7
    status:
      code: 200
      message: OK
version: 1
