interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_KR","time":1768047952,"version":"1.0.0"},"sign":"3deefcca075a84011cf905ac473de74d"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047952932'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768047952935'
      tid:
      - dc1e77d3b2734414dd09eafb218fa557
    status:
      code: 200
      message: OK
version: 1
