interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_CN","time":1768048366,"version":"1.0.0"},"sign":"da078ddf1affea5612bcb69327a5873e"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://game-launcher-ss-cn-bk.yostar.net","primary_cdn":"https://game-launcher-ss-cn.yostar.net"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048367957'
      req-cost-time:
      - '4'
      resp-start-time:
      - '1768048367961'
      tid:
      - 01ffe233df0572d496070f8e418272da
    status:
      code: 200
      message: OK
version: 1
