interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_KR","time":1768048092,"version":"1.0.0"},"sign":"dd65537c31e3865898aa879d1e0f2c82"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048093372'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768048093376'
      tid:
      - d90d78c99dac7e77d4e168ff0ca1b00e
    status:
      code: 200
      message: OK
version: 1
