interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_EN","time":1768048036,"version":"1.0.0"},"sign":"4a297422a0a933d0fcaef50126fe5fa7"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048037170'
      req-cost-time:
      - '0'
      resp-start-time:
      - '1768048037171'
      tid:
      - 368d07a646a20c208be8037d0008c9fc
    status:
      code: 200
      message: OK
version: 1
