interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_EN","time":1768048030,"version":"1.0.0"},"sign":"79b995d99424f71cf978dc0bfc56a28a"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-ss-en-bk.yo-star.com","primary_cdn":"https://launcher-pkg-ss-en.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048030978'
      req-cost-time:
      - '1'
      resp-start-time:
      - '1768048030980'
      tid:
      - b322a1dab390fae082b46378a1b8f77b
    status:
      code: 200
      message: OK
version: 1
