interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_KR","time":1768047941,"version":"1.0.0"},"sign":"8eb38a199fb19e6cb43e2cac839d6907"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/operations/resource
  response:
    body:
      string: "{\"code\":200,\"data\":{\"banner_loop\":true,\"news_list\":{\"code\":0,\"data\":{\"news\":[{\"rows\":[{\"description\":\"\",\"link\":\"https://mahjongsoul.yo-star.com/kr/news/64\",\"publishTime\":1748316210000,\"thumbnail\":\"\",\"title\":\"[\uC911\uC694]
        Yostar \uACC4\uC815 \uB9AC\uB274\uC5BC \uC608\uACE0 \uBC0F \uACC4\uC815 \uC5F0\uB3D9
        \uC548\uB0B4\",\"typeLabel\":\"\uC804\uCCB4\"},{\"description\":\"\",\"link\":\"https://mahjongsoul.yo-star.com/kr/news/87\",\"publishTime\":1767765032000,\"thumbnail\":\"\",\"title\":\"\uB300\uAD6D
        \uBD80\uC815 \uD589\uC704 \uC870\uCE58 \uC548\uB0B4 (2026\uB144 1\uC6D4)\",\"typeLabel\":\"\uC804\uCCB4\"},{\"description\":\"\",\"link\":\"https://mahjongsoul.yo-star.com/kr/news/85\",\"publishTime\":1765767600000,\"thumbnail\":\"\",\"title\":\"2025\uB144
        12\uC6D4 17\uC77C \uC810\uAC80 \uC548\uB0B4\",\"typeLabel[...]
