interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_KR","time":1768048083,"version":"1.0.0"},"sign":"1c51c3b841f642a21d0d0c48094467f9"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-ss-kr-bk.yo-star.com","primary_cdn":"https://launcher-pkg-ss-kr.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048086850'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768048086853'
      tid:
      - dbdfb139e173aff05c009062b2756041
    status:
      code: 200
      message: OK
version: 1
