interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_EN","time":1768047887,"version":"1.0.0"},"sign":"b6d191956ec743426fb5bc9e70a5a762"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-hbr-en-bk.yo-star.com","primary_cdn":"https://launcher-pkg-hbr-en.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047888628'
      req-cost-time:
      - '1'
      resp-start-time:
      - '1768047888629'
      tid:
      - d48a39dcf158206757fe606c7bb93ca1
    status:
      code: 200
      message: OK
version: 1
