interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_JP","time":1768047931,"version":"1.0.0"},"sign":"2748fde1eea4c593a6c3923c1116814f"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":{"launcher_background_img":"https://launcher-pkg-mj-jp.yo-star.com/prod/MajSoul_JP/launcher_background_img/9b7b4674de440d1f1447670854a20006.png","launcher_background_img_crc64":"7404892359343740565","config_open":false,"user_agreement":"","privacy_policy":"","copyright_information":"","notice_pop_open":false,"notice_content":"","exit_launcher_open":false},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047932035'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768047932038'
      tid:
      - 815d591f81c222ba5b1bf254ba6e76f3
    status:
      code: 200
      message: OK
version: 1
