interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_JP","time":1768047936,"version":"1.0.0"},"sign":"209001f68e76e13d4dd02e3ef245437a"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":{"game_lowest_version":"1.0.5","game_latest_version":"1.0.5","game_latest_file_path":"prod/ZIP_TEMP/MajSoul_JP_TEMP/MajSoul_JP-1.0.5-game.zip","game_start_exe_name":"Jantama_MahjongSoul","game_file_size":"","game_file_size_type":"","crc64":"","size":0,"file_url":"","decompression_size":"4.21GB","config_id":0,"game_start_params":null},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047936941'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768047936943'
      tid:
      - 25b3281cd37e35191b7c76454ed4560c
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_JP","time":1768047937,"version":"1.0.0"},"sign":"34522b7907b910a2992010b0cfddf335"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/game/config/json?version=1.0.5&file_path=prod%2FZIP_TEMP%2FMajSoul_JP_TEMP%2FMajSoul_JP-1.0.5-game.zip
  response:
    body:
      string: '{"code":200,"data":{"url":"https://launcher-pkg-mj-jp.yo-star.com/zip_online_config_json/1.0.5g8oJWqfM.json"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047940642'
      req-cost-time:
      - '4'
      resp-start-time:
      - '1768047940646'
      tid:
      - a1844232d5efb859425e4444caa6fac1
    status:
      code: 200
      message: OK
version: 1
