interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"HBR_EN","time":1768047882,"version":"1.0.0"},"sign":"fe57bd01f717e1c0c4b2e6c65d0a10f6"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":{"launcher_background_img":"https://launcher-pkg-hbr-en.yo-star.com/prod/HBR_EN/launcher_background_img/8dec573e86bde88658ea0e6e36c2641f.png","launcher_background_img_crc64":"963041917767940278","config_open":false,"user_agreement":"","privacy_policy":"","copyright_information":"","notice_pop_open":false,"notice_content":"","exit_launcher_open":false},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047886807'
      req-cost-time:
      - '1'
      resp-start-time:
      - '1768047886808'
      tid:
      - 51f038b0022245fb3f0afe77433ff304
    status:
      code: 200
      message: OK
version: 1
