interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_KR","time":1768047945,"version":"1.0.0"},"sign":"c08ab20201f74ee75630b69679f872ca"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/base/config
  response:
    body:
      string: '{"code":200,"data":{"launcher_background_img":"https://launcher-pkg-mj-kr.yo-star.com/prod/MajSoul_KR/launcher_background_img/821eb9ac27b1421c1dcd84eae6f0b708.png","launcher_background_img_crc64":"13876177525753709418","config_open":false,"user_agreement":"","privacy_policy":"","copyright_information":"","notice_pop_open":false,"notice_content":"","exit_launcher_open":false},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047945994'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768047945996'
      tid:
      - 14938b1f31b2b87bd2f5f9ca646d3e29
    status:
      code: 200
      message: OK
version: 1
