interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_JP","time":1768048166,"version":"1.0.0"},"sign":"8f5cc451d212e581ec1a4818f9d0799a"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":{"game_lowest_version":"1.4.0","game_latest_version":"1.4.0","game_latest_file_path":"prod/ZIP_TEMP/StellaSora_JP_TEMP/StellaSora_JP-1.4.0-game.zip","game_start_exe_name":"StellaSora","game_file_size":"","game_file_size_type":"","crc64":"","size":0,"file_url":"","decompression_size":"15GB","config_id":0,"game_start_params":[]},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048167996'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768048167999'
      tid:
      - b610447d281efca9f3055dd7dc095258
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_JP","time":1768048168,"version":"1.0.0"},"sign":"20dd8d64811f1faf3557907f25d96226"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/game/config/json?version=1.4.0&file_path=prod%2FZIP_TEMP%2FStellaSora_JP_TEMP%2FStellaSora_JP-1.4.0-game.zip
  response:
    body:
      string: '{"code":200,"data":{"url":"https://launcher-pkg-ss-jp.yo-star.com/zip_online_config_json/1.4.0GAI6iTKO.json"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048169687'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768048169690'
      tid:
      - 1efd7b0e99cdbab222f6452091285173
    status:
      code: 200
      message: OK
version: 1
