interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_CN","time":1768048300,"version":"1.0.0"},"sign":"4d3f8ae0bbea347a71c915c60ec5c9fd"}'
    method: GET
    uri: https://launcher-api.yostar.net/api/launcher/operations/resource
  response:
    body:
      string: "{\"code\":200,\"data\":{\"banner_loop\":true,\"news_list\":{\"code\":0,\"data\":{\"news\":[{\"rows\":[{\"description\":\"
        \\n   \\n \u5C0A\u656C\u7684\u9B54\u738B\u5927\u4EBA\uFF0C \u6B22\u8FCE\u5F52\u6765\uFF01
        \\n \u60A0\u661F\u652F\u4ED8\u4E2D\u5FC3\u5DF2\u4E8E2025/10/20 10:00\u540C\u6B65\u4E0A\u7EBF\uFF01\u9B54\u738B\u5927\u4EBA\u524D\u5F80\u60A0\u661F\u652F\u4ED8\u4E2D\u5FC3\u8FDB\u884C\u5145\u503C\u53EF\u4EAB\u4F18\u60E0\uFF01\u5546\u54C1\u6298\u6263\u8BE6\u60C5\u53EF\u524D\u5F80\u60A0\u661F\u652F\u4ED8\u4E2D\u5FC3\u67E5\u770B\u3002
        \\n \u258C\u5173\u4E8E\u652F\u4ED8\u4E2D\u5FC3 Q1\[...]
