interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_KR","time":1768048169,"version":"1.0.0"},"sign":"65f18addfc4227b88382a0ad6278adf0"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":{"game_lowest_version":"1.4.0","game_latest_version":"1.4.0","game_latest_file_path":"prod/ZIP_TEMP/StellaSora_KR_TEMP/StellaSora_KR-1.4.0-game.zip","game_start_exe_name":"StellaSora","game_file_size":"","game_file_size_type":"","crc64":"","size":0,"file_url":"","decompression_size":"16GB","config_id":0,"game_start_params":[]},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048170283'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768048170287'
      tid:
      - ebfb44d64c52c532ef1f28371842d82a
    status:
      code: 200
      message: OK
version: 1
