interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_JP","time":1768047926,"version":"1.0.0"},"sign":"9f49a1f0b4a53a91c2a2138a9696232d"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/operations/resource
  response:
    body:
      string: "{\"code\":200,\"data\":{\"banner_loop\":true,\"news_list\":{\"code\":0,\"data\":{\"news\":[{\"rows\":[{\"description\":\"\",\"link\":\"https://mahjongsoul.com/news/329\",\"publishTime\":1766574000000,\"thumbnail\":\"\",\"title\":\"\u5E74\u672B\u5E74\u59CB\u306E\u30B5\u30DD\u30FC\u30C8\u5BFE\u5FDC\",\"typeLabel\":\"\u3059\u3079\u3066\"},{\"description\":\"\",\"link\":\"https://mahjongsoul.com/news/327\",\"publishTime\":1765767600000,\"thumbnail\":\"\",\"title\":\"\u2606\u30D4\u30C3\u30AF\u30A2\u30C3\u30D7\u2606\u65B0\u96C0\u58EB\u300C\u30DF\u30E9\u300D\u300C\u5317\u843D\u300D\u7279\u5B9A\u96C0\u58EB\u300C\u68EE\u5DDD
        \u7DBE\u5B50\u300D\u300C\u7433\u7405\u300D\u300C\u4E8C\u4E4B\u5BAE \u82B1\u300D\u300C\u767D\u77F3
        \u5948\u3005\u300D\u300C\u4E03\u5915\u300D\u300C\u30A8\u30A4\u30F3\u300D\u30[...]
