interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_JP","time":1768047932,"version":"1.0.0"},"sign":"fbe0e2c07e8f7834c330886845c474a8"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-mj-jp-bk.yo-star.com","primary_cdn":"https://launcher-pkg-mj-jp.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047932524'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768047932528'
      tid:
      - ce1b9efe3873515bc04bd4950ed43411
    status:
      code: 200
      message: OK
version: 1
