interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_EN","time":1768047917,"version":"1.0.0"},"sign":"80a35a1cde94fb50b13b08bcb04048b6"}'
    method: GET
    uri: https://api-launcher-en.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-mj-en-bk.yo-star.com","primary_cdn":"https://launcher-pkg-mj-en.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047918289'
      req-cost-time:
      - '1'
      resp-start-time:
      - '1768047918290'
      tid:
      - 4258332cfbee28218d866c4be82de674
    status:
      code: 200
      message: OK
version: 1
