interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_KR","time":1768048116,"version":"1.0.0"},"sign":"af2b64ff6bd3f0ba3b976933576f8471"}'
    method: GET
    uri: https://api-launcher-kr.yo-star.com/api/launcher/advanced/game/download/cdn
  response:
    body:
      string: '{"code":200,"data":{"back_up_cdn":"https://launcher-pkg-mj-kr-bk.yo-star.com","primary_cdn":"https://launcher-pkg-mj-kr.yo-star.com"},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048120026'
      req-cost-time:
      - '3'
      resp-start-time:
      - '1768048120029'
      tid:
      - f722d638c02be2af827378002a8013b4
    status:
      code: 200
      message: OK
version: 1
