interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"StellaSora_JP","time":1768048059,"version":"1.0.0"},"sign":"0b2093b8318462639771a0107950f43e"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/game/config
  response:
    body:
      string: '{"code":200,"data":{"game_lowest_version":"1.4.0","game_latest_version":"1.4.0","game_latest_file_path":"prod/ZIP_TEMP/StellaSora_JP_TEMP/StellaSora_JP-1.4.0-game.zip","game_start_exe_name":"StellaSora","game_file_size":"","game_file_size_type":"","crc64":"","size":0,"file_url":"","decompression_size":"15GB","config_id":0,"game_start_params":[]},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768048063124'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768048063127'
      tid:
      - 57c89e3c5886d4c91b0dd98f37283187
    status:
      code: 200
      message: OK
version: 1
