interactions:
- request:
    body: ''
    headers:
      Authorization:
      - '{"head":{"game_tag":"MajSoul_JP","time":1768047933,"version":"1.0.0"},"sign":"054e4b711315323bddb656f358e03ffd"}'
    method: GET
    uri: https://api-launcher-jp.yo-star.com/api/launcher/advanced/config
  response:
    body:
      string: '{"code":200,"data":{"log_upload":true},"msg":"OK"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      req-arrive-time:
      - '1768047933969'
      req-cost-time:
      - '2'
      resp-start-time:
      - '1768047933972'
      tid:
      - ab3e3842736d87c7a48a6d365f2e9bad
    status:
      code: 200
      message: OK
version: 1
